<header>
    <h1>
        coderhub
    </h1>
    <ul>
        <%if (locals.user){%>
        <li>
            <a href="/users/profile">
                <%=user.name%></a>
        </li>
        <li>
            <a href="/users/sign-out">sign-out</a>
        </li>
        <%}else{%>
            
            <li><a href="/users/sign_in">signin</a></li>
            <li><a href="/users/sign_up">signup</a></li>
            <%}%>
    </ul>
</header>