
    <h1>codieal <%=title%></h1>

<section id="feed-posts">
    <h4>Post</h4>
    <form action="" method="post" id="newpostform">
        <textarea name="content"  cols="30" rows="3" placeholder=""></textarea>
        <input type="submit" value="Post">
    </form>
</section>