
<link rel="stylesheet" href="/css/userlogin.css">

<h1>sign up</h1>
<div id="signupuser">
    <form action="/users/create" method="POST">
        <div class="container">
            <input type="text" name=name placeholder="your name" required>
        </div>
        <div class="container">
            <input type="email" name="email" placeholder="your email" required >
        
        </div>
        <div class="container">
            <input type="password" name="password" placeholder="your password" required>
        </div>
        <div class="container">
            <input type="password" name="confirm_password" placeholder="confirm password" required>
        </div>
        <div>
            <input type="submit" value="signup" id="submitbutton">
        </div>
        </form>
</div>