<link rel="stylesheet" href="/css/usersignin.css">
<h1 id="signupheading">sign in</h1>
<div id="signin-container">
    <form action="/users/create-session" method="post">
        <div class="container">
        <input type="email" name="email" placeholder="enter your email"  class="userinfo"required>
        </div>
        <div class="container">
            <input type="password" name="password" placeholder="enter your password" class="userinfo" required>
        </div>
        <div>

        <input type="submit" value="signin" id="submitbutton">

        </div>
        </form>
        <div id="google-auth-container">
             <p>
                <a href="/users/auth/google">Google/sign in/sign up</a>
            </p>
        </div>
</div>