
<link rel="stylesheet" href="/css/userlogin.css">

<h1 id="signupheading">sign up</h1>
<div id="signupuser">
    <form action="/users/create" method="POST">
        <div class="container">
            <input type="text" name=name placeholder="your name" required class="userinfo">
        </div>
        <div class="container">
            <input type="email" name="email" placeholder="your email" required class="userinfo">
        
        </div>
        <div class="container">
            <input type="password" name="password" placeholder="your password" required class="userinfo">
        </div>
        <div class="container">
            <input type="password" name="confirm_password" placeholder="confirm password" required class="userinfo">
        </div>
        <div>
            <input type="submit" value="signup" id="submitbutton">
        </div>
        </form>
        <div id="google-auth-container">
            <p class="google-auth">
                <a href="/users/auth/google">Google/signin/signup</a>
            </p>
        </div>
</div>