#layout-footer {
  color: white;
  margin-top: 75vh;
  background: grey;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  position: sticky; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
